repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.1"
    hooks:
      - id: ruff
        args: [., --fix, --exit-non-zero-on-fix]
        files: ^back/
      - id: ruff-format
        files: ^back/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.15.0"
    hooks:
      - id: mypy
        args:
          [
            --ignore-missing-imports,
            --disable-error-code=import-untyped,
            --explicit-package-bases,
          ]
        files: ^back/.*\.py$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
